@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:900");

content-root {
  font-family: 'Montserrat', sans-serif;
}

.text-centered {
  text-align: center;
}

.main-header {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.subtext {
  font-size: 0.85rem;
  color: #777777;
}

.explainer {
  color: #4F4F4F;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 20px 0;
}

.RID-display {
  color: #385C6C;
  letter-spacing: 2px;
  text-align: center;
}

.starter-card {
  color: white;
  background-color: #353E42;
  background-image: url("assets/headerimage.png");
  background-size: cover;
  padding: 20px 5%;
}

.starter-card a {
  color: white;
  text-decoration: none;
}

.starter-header-1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  letter-spacing: 3px;
  font-weight: 900;
}

.starter-header-2 {
  padding-top: 14%;
  padding-bottom: 20px;
  font-weight: 900;
}

.starter-header-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 16%;
  letter-spacing: 2px;
}

section {
  margin: 60px 15%;
  padding: 40px;
  background-color: #F1F3F4;
}

.step-display {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.step-display li {
  text-transform: uppercase;
  color: #385C6C;
  padding: 10px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border: 1px solid #385C6C;
  background-color: white;
  white-space: nowrap;
}

.step-display li:not(:last-child) {
  margin-right: 20px;
}

.step-display li.activated-step {
  color: white;
  background-color: #385C6C;
}

form.input-row {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

form.input-row > span {
  flex: 1;
  line-height: 40px;
}

form.input-row > [type="text"] {
  flex: 2;
  padding: 10px 20px;
  color: #777777;
  height: 25px;
  font-size: 0.85rem;
}

form.input-row > [type="submit"] {
  flex: 1;
  color: white;
  background-color: #385C6C;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 15px 10px;
}
