<section>
  <h2 class="main-header text-centered">Demo</h2>
  <ul class="step-display">
    <li class="activated-step"><span class="step-explainer">STEP</span> 1</li>
    <li class="activated-step"><span class="step-explainer">STEP</span> 2</li>
    <li><span class="step-explainer">STEP</span> 3</li>
    <li><span class="step-explainer">STEP</span> 4</li>
  </ul>
  <div class='row'>
    <div class='col-half'>
      <h3>Now, we’re in the browser</h3>
      <p>COMPUTE PRG (RID) A, K ID</p>
      <p>GENERATE K<sub>RECORD</sub></p>
      <p>HASH USERID</p>
      <p>DERIVE S=AX + RID</p>
    </div>
    <div class='col-half' id='second-step-graph'></div>
  </div>
</section>
