<section id='second-step' style="display: none;">
  <h2 class="main-header text-centered">Demo</h2>
  <ul class="step-display">
    <li class="activated-step"><span class="step-explainer">STEP</span> 1</li>
    <li class="activated-step"><span class="step-explainer">STEP</span> 2</li>
    <li><span class="step-explainer">STEP</span> 3</li>
    <li><span class="step-explainer">STEP</span> 4</li>
  </ul>
  <div class='row'>
    <div class='col-half calc-display'>
      <h3>Client Side Perp Name Encryption</h3>
      <p>
        COMPUTE <code>PRG</code>:
        <code class="calc-display-value"><span id="calc-prg"></span></code></p>
      <p>
        GENERATE <code>K</code><sub>RECORD</sub>:
        <code class="calc-display-value"><span id="calc-k-record"></span></code></p>
      <p>
        DERIVE <code>S (AX + RID)</code>:
        <code class="calc-display-value"><span id="calc-derived-s"></span></code></p>
    </div>
    <div class='col-half' id='second-step-graph'>[[ graph ]]</div>
  </div>
</section>
