<section *ngIf="shown" id='fifth-step'>
  <h2 class="main-header text-centered">Matching of Perpetrator ID's</h2>
  <ul class="step-display">
    <li class="activated-step">
      <a href="#first-step"><span class="step-explainer">STEP</span> 1</a>
    </li>
    <li class="activated-step">
      <a href="#second-step"><span class="step-explainer">STEP</span> 2</a>
    </li>
    <li class="activated-step">
      <a href="#third-step"><span class="step-explainer">STEP</span> 3</a>
    </li>
    <li class="activated-step">
      <a href="#fourth-step"><span class="step-explainer">STEP</span> 4</a>
    </li>
    <li class="activated-step">
      <a href="#fifth-step"><span class="step-explainer">STEP</span> 5</a>
    </li>
    <li class="activated-step">
      <a href="#sixth-step"><span class="step-explainer">STEP</span> 6</a>
    </li>
  </ul>


  <p class="explainer">Over time, different victims will enter their information into Callisto. When two H(RID)’s in the database match, the Options Counselor decrypts the secret values and uses those two shares to interpolate the line and reveal the y-intercept (the RID). 
  </p>
  <div class='calc-display'>
    <p>
      <code>RID</code>:
      <code class="calc-display-value">{{ RID }}</code>
    </p>
  </div>
  <crypto-graph></crypto-graph>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</section>
