<article *ngIf="shown" id='fifth-step'>
  <h2 class="main-header text-centered">Matching</h2>
  <step-nav [sectionStep]=5></step-nav>

  <p>Over time, different users will enter their information into Callisto. When two H(H(RID))s in the database match, the Options Counselor decrypts the secret values and uses those two shares to interpolate the line and reveal the y-intercept (the RID).</p>
  <p>
    <code>Your H(H(RID))</code>
    <code class="calc-display-value">{{ RID }}</code>
  </p>
  <p>
    <code>User 2's H(H(RID))</code>
    <code class="calc-display-value">{{ RID2 }}</code>
  </p>
  <p>
    <code>User 3's H(H(RID))</code>
    <code class="calc-display-value">{{ RID3 }}</code>
  </p>
  <p>
    <code>User 4's H(H(RID))</code>
    <code class="calc-display-value">{{ RID4 }}</code>
  </p>
  <p>You and User 2 have matching H(H(RID))s, and now the Options Counselor can begin to decrypt your data.</p>
  
  <crypto-graph
    (decryptedData)="decryptedData"
  ></crypto-graph>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</article>
