<article *ngIf="shown" id='fifth-step'>
  <h2 class="main-header text-centered">Matching of Perpetrators</h2>
  <step-nav [sectionStep]=5></step-nav>

  <p>Over time, different victims will enter their information into Callisto. When two &#960;s in the database match, the Options Counselor decrypts the secret values and uses those two shares to interpolate the line and reveal the y-intercept (k).</p>
  <p>
    <code>Your &#960;</code>
    <code class="calc-display-value">{{ decryptedData.coords[0].pi }}</code>
  </p>
  <p>
   <code>User 2 &#960; (no match found)</code>
   <code class="calc-display-value">{{ decryptedData.coords[1].pi }}</code>
  </p>
  <p>
    <code>User 3 &#960; (no match found)</code>
    <code class="calc-display-value">{{ decryptedData.coords[2].pi }}</code>
  </p>
  <p>
    <code>User 4 &#960; (match found!)</code>
    <code class="calc-display-value">{{ decryptedData.coords[3].pi }}</code>
  </p>
  <p>Each (U, s) coordinate is plotted on the graph. Two or more coordinates with matching &#960; values can be used to derive the original key, k.</p>
  
  <crypto-graph></crypto-graph>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</article>
