<article *ngIf="shown" id='first-step'>
  <h2 id='first-step-h2' class="main-header text-centered">User Inputs</h2>
  <step-nav [sectionStep]=1></step-nav>
  <p>Our encryption method focuses on several cryptography techniques (our white paper explains these in more detail.) This demo highlights two techniques: <b>client side encryption</b> and <b>Shamir Secret Sharing</b>.</p>
  <p>To begin, enter a user name and a perpetrator name. This data will be encrypted with a record key, k’. Data inputs will not be stored.</p>

  <form class="perp-name-form" action="#" #userInputForm="ngForm">
    <div class="input-row">
      <div>
        <span class="subtext">ENTER USER NAME<span [hidden]="userInput.valid || userInput.pristine" class="alert-danger"> (required)</span></span>
        <input #userInput="ngModel" required type="text" id="userInput" name="userInput" ngModel />
      </div>
      <div>
        <span class="subtext">ENTER PERP NAME<span [hidden]="perpInput.valid || perpInput.pristine" class="alert-danger"> (required)</span></span>
        <input #perpInput="ngModel" required type="text" id="perpInput" name="perpInput" ngModel />
      </div>
    </div>
    <!-- <p class="subtext">K<sub>RECORD</sub>, a randomly generated key to encrypt user name and perp name</p> -->
    <!-- <code class='calc-display-value text-centered' id="calc-rid">{{ recordKey }}</code> -->
    <div class="align-right-on-large">
      <input class="btn advance-button" value="next" type="submit" (click)="perpSubmit($event, perpInput.value, userInput.value);" [disabled]="!userInputForm.form.valid" />
    </div>  
  </form>

</article>
