<footer>
  <div class="top-nav">
    <img src="/assets/callisto_logo.png" class="callisto-logo" alt="Callisto Logo" />
    <ul class="footer-links">
      <li><a href="https://www.projectcallisto.org/what-we-do" target="_blank">what we do</a></li>
      <li><a href="https://www.projectcallisto.org/who-we-are" target="_blank">who we are</a></li>
      <li><a href="https://www.projectcallisto.org/work-with-us" target="_blank">careers</a></li>
      <li><a href="https://www.projectcallisto.org/contact-us" target="_blank">contact us</a></li>
      <li><a href="https://www.projectcallisto.org/donate" target="_blank">donate</a></li>
    </ul>
  </div>
  <div class="bottom-nav">
    <div class="float-left-on-large">
      <p>
        For immediate help, contact the National Sexual Assault Hotline<br/>
        <a href="tel:+1-8006564673">1-800-656-4673</a> | Free. Confidential. 24/7<br/>
      </p>
    </div>
    <div class="float-right-on-large">
      <div class="footer-icons">
        <a href="https://www.facebook.com/callistoorg/" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/callisto" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/callisto/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="https://github.com/project-callisto/crypto-demo" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
      </div>
      <p>Copyright © 2018 Callisto</p>
    </div>
  </div>
</footer>
