<section *ngIf="shown" id='fourth-step'>
  <h2 class="main-header text-centered">Encrypted Values</h2>
  <step-nav [sectionStep]=4></step-nav>

  <p>The following values are now encrypted using the corresponding methods.</p>
  <p>
    <code>H(H(RID))</code>
    <code class="calc-display-value">{{ encryptedData.hashedRid }}</code>
  </p>
  <p>
    <code>E(pk_OC, x)</code>
    <code class="calc-display-value">{{ encryptedData.cX }}</code>
  </p>
  <p>
    <code>E(pk_OC, y)</code>
    <code class="calc-display-value">{{ encryptedData.cY }}</code>
  </p>
  <p>
    <code>E_GCM(k_record, record)</code>
    <code class="calc-display-value">{{ encryptedData.encryptedRecord }}</code>
  </p>
  <p>
    <code>E(pk_OC, E_GCM(k_ID, k_record))</code>
    <code class="calc-display-value">{{ encryptedData.encryptedRecordKey }}</code>
  </p>

  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</section>
