<section *ngIf="shown" id='fourth-step'>
  <h2 class="main-header text-centered">display graph with line from encryptedDataArr</h2>
  <ul class="step-display">
    <li class="activated-step">
      <a href="#first-step"><span class="step-explainer">STEP</span> 1</a>
    </li>
    <li class="activated-step">
      <a href="#second-step"><span class="step-explainer">STEP</span> 2</a>
    </li>
    <li class="activated-step">
      <a href="#third-step"><span class="step-explainer">STEP</span> 3</a>
    </li>
    <li class="activated-step">
      <a href="#fourth-step"><span class="step-explainer">STEP</span> 4</a>
    </li>
    <li>
      <a href="#fifth-step"><span class="step-explainer">STEP</span> 5</a>
    </li>
  </ul>
  <h3>Encryption</h3>
  <p class="explainer">We now send the following encrypted values within the browser and send them to the Callisto Web Application Server:</p>
  <div class='calc-display'>
    <p>
      <code>H(RID)</code>:
      <code class="calc-display-value">{{ encryptedData.hashedRid }}</code>
    </p>
    <p>
      <code>Enc(Koc,x)</code>:
      <code class="calc-display-value">{{ encryptedData.cX }}</code>
    </p>
    <p>
      <code>Enc(Koc,y)</code>:
      <code class="calc-display-value">{{ encryptedData.cY }}</code>
    </p>
    <p>
      <code>Enc(kRecord, record)</code>:
      <code class="calc-display-value">{{ encryptedData.encryptedRecord }}</code>
    </p>
    <p>
      <code>Enc(kId, kRecord)</code>:
      <code class="calc-display-value">{{ encryptedData.encryptedRecordKey }}</code>
    </p>
  </div>

  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</section>
