<div class="starter-card text-centered">
  <h2 class="starter-header-1"><img src="/assets/callisto_logo.png" class='callisto-logo' />Callisto: Tech to combat sexual assault and harassment</h2>
  <h1 class="starter-header-2">Cryptographic Approach</h1>
  <div class="starter-header-3">
    <p>This site is intended to illustrate select components of Callisto's cryptographic approach. It is not a full demonstration of the product, nor an official reporting platform for victims of sexual assault and harassment. Inputted data will not be stored or communicated outside of the user's browser.</p>
    <p>For more information, please visit <a href="https://projectcallisto.org">projectcallisto.org</a></p>
  </div>
  <div class="start-header-4">
    <p>For immediate help, contact the National Sexual Assault Hotline</p>
    <p>1-800-656-4673 | Free. Confidential. 24/7</p>
  </div>
</div>
