<div class="starter-card text-centered">
  <div class="starter-header-1">Callisto</div>
  <h1 class="starter-header-2 main-header">Detect repeat serial perpetrators</h1>
  <div class="starter-header-3">Callisto is a nonprofit organization that develops technology to combat sexual assault and harassment.Protecting the data of both the victims and the accused is very important to Callisto. This demo app aims to show the advanced cryptographic techniques that Callisto uses to ensure a safe and trusted reporting experience. For more information please visit <a href="https://projectcallisto.org">projectcallisto.org</a></div>
</div>
