<article id='intro-step'>
  <a name="intro-step"></a>
  <h2 class="main-header text-centered">Introduction</h2>
  <p><a href="https://projectcallisto.org">Callisto</a> is a nonprofit organization that detects serial perpetrators of sexual assault and harassment. We do this by creating a reporting platform that allows victims  to submit the identity of their perpetrators into a matching escrow; this information can only be decrypted by the Callisto Options Counselor (a lawyer) if another victim names the same perpetrator. If there is a match, the Options Counselor will decrypt the identity of the serial perpetrator and matched victims, and  will reach out to the victims to discuss their options towards pursuing justice. The client relationships are structured so that any communications with the Counselor would be privileged.</p>
  <p>It is critical that any reporting tool for sexual assault and harassment protects the data of both the victims and the accused. This demo application aims to show some of the advanced cryptographic techniques that Callisto uses to ensure a safe and trusted reporting experience.</p>
  <p><b>For more details about our cryptographic approach, read <a href="https://www.projectcallisto.org/callisto-cryptographic-approach.pdf" target="_blank">our technical white paper.</a></b></p>      
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>  
</article>
