<article id='intro-step'>
  <a name="intro-step"></a>
  <h2 class="main-header text-centered">Introduction</h2>
  <p><a href="https://projectcallisto.org" target="_blank">Callisto</a> is a nonprofit organization that detects serial perpetrators of sexual assault and professional sexual coercion. We do this via a reporting platform that enables survivors to submit an entry identifying their perpetrators. This information can only be decrypted by a Callisto Legal Options Counselor (an attorney vetted by Callisto) if another survivor identifies the same perpetrator (a match). If there is a match, the Legal Options Counselors assigned to each of the survivors will decrypt the identity of the serial perpetrator and their assigned survivor, and will reach out to them to discuss their options towards pursuing justice. Communications between Legal Options Counselors and survivors, including information in the entry, are confidential and protected by attorney-client privilege.</p>
  <p><b>For more details about our cryptographic approach, read <a href="https://www.projectcallisto.org/callisto-cryptographic-approach.pdf" target="_blank">our technical white paper.</a></b></p>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</article>
