<section *ngIf="shown" id='second-step'>
  <h2 class="main-header text-centered">Perpetrator ID Randomization</h2>
  <step-nav [sectionStep]=2></step-nav>
  <p class="explainer">We guarantee that identifying information about a perpetrator and user is only revealed to the Callisto Options Counselor when there are two or more matches. To do so, we randomize the perp name.</p>
  <p>RID (Randomized ID) <code class="calc-display-value">{{ plainTextData.rid }}</code></p>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</section>
