<section *ngIf="shown" id='second-step'>
  <h2 class="main-header text-centered">Perpetrator ID Randomization</h2>
  <ul class="step-display">
    <li class="activated-step">
      <a href="#first-step"><span class="step-explainer">STEP</span> 1</a>
    </li>
    <li class="activated-step">
      <a href="#second-step"><span class="step-explainer">STEP</span> 2</a>
    </li>
    <li>
      <a href="#third-step"><span class="step-explainer">STEP</span> 3</a>
    </li>
    <li>
      <a href="#fourth-step"><span class="step-explainer">STEP</span> 4</a>
    </li>
    <li>
      <a href="#fifth-step"><span class="step-explainer">STEP</span> 5</a>
    </li>
    <li>
      <a href="#sixth-step"><span class="step-explainer">STEP</span> 6</a>
    </li>
  </ul>
  <p class="explainer">We guarantee that identifying information about a perpetrator and user is only revealed to the Callisto Options Counselor when there are two or more matches. To do so, we randomize the perp name.</p>
  <div class='calc-display'>
    <p>RID (Randomized ID) <code class="calc-display-value">{{ plainTextData.rid }}</code></p>
  </div>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</section>
