<article *ngIf="shown" id='second-step'>
  <h2 class="main-header text-centered" id="second-step-h2">Perpetrator Name Randomization</h2>
  <step-nav [sectionStep]=2></step-nav>
  <p>First, we transform the low-entropy perpetrator name into a pseudorandom value P&#770; with sufficient entropy for use in our secret sharing approach.</p>
  <p><span class="calc-display-label">P&#770;</span><code class="calc-display-value">{{ plainTextData.pHat }}</code></p>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</article>
