<article *ngIf="shown" id='sixth-step'>
  <h2 class="main-header text-centered">Decrypting Perp Name</h2>
  <step-nav [sectionStep]=6></step-nav>
  <p>By using k and their secret key, the Callisto Options Counselor can now decrypt the user’s Record, which contains the submitted perpetrator name.</p>
  <p>
    <code class="final-perp-display">{{ perpId }}</code>
  </p>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>
</article>
