<article *ngIf="shown" id='third-step'>
  <h2 class="main-header text-centered" id="third-step-h2">Linear Secret Sharing</h2>
  <step-nav [sectionStep]=3></step-nav>
  <p>First we hash RID using SHA-512 to standardize outputs to 512 bits.</p>
  <p>
    <code>H(RID)</code>
    <code class="calc-display-value">{{ plainTextData.hRid }}</code>
  </p>
  <p>From this value, we use the first 256 bits as a slope (m) and the remaining 256 bits as a key, K<sub>ID</sub> to encrypt user data. We also hash your inputted user name to create a value, x</p>
  <p>
    <code>m</code>
    <code class="calc-display-value">{{ plainTextData.slope }}</code>
  </p>
  <p>
    <code>K<sub>ID</sub></code>
    <code class="calc-display-value">{{ plainTextData.kId }}</code>
  </p>
  <p>
    <code>X</code>
    <code class="calc-display-value">{{ plainTextData.hashedX }}</code>
  </p>
  <p>These values are now the inputs for the line <code>y = mx + RID</code></p>
  <p>
    <code>y = mx + RID mod 2<sup>128</sup>-159</code>
    <code class="calc-display-value">{{ plainTextData.y }}</code>
  </p>
  <div class="align-right-on-large">
    <button class="advance-button btn" (click)="advanceStep.emit();">next</button>
  </div>  
</article>
