@function gray($intensity, $alpha: 1) {
  @return rgba($intensity, $intensity, $intensity, $alpha);
}

$font-body: "Montserrat", sans-serif;
$font-headers: "Playfair Display", serif;
// general purpose palettes
$palette-white: #fff;
$palette-dark-blue: #385c6c;
// specific purpose colors
$color-step-headers: #4f4f4f;
$color-paragraph-text: gray(79);
$color-article-background: #f1f3f4;
$color-header-background: gray(62);
$color-code-background: gray(238);
$color-code-border: gray(204);
$color-text-faded: gray(119);
$color-step-hover-background: gray(200);
$color-step-hover-border: gray(220);
$color-button-hover-background: gray(50);
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
