@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:900");

$font-body: "Montserrat", sans-serif;
$font-headers: "Playfair Display", serif;

$color-dark-blue: #385C6C;
$color-gray-1: #F1F3F4;
$color-gray-2: #4F4F4F;
$color-gray-3: #777777;
$color-gray-4: #353E42;

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
