@import "_meta";
.callisto-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
}

.buffer {
    padding: 30px 30px 60px;
}

.main-content:host,
* {
    font-family: $font-body;
}

.text-centered {
    text-align: center;
}

h1,
h2 {
    font-family: $font-headers;
    font-size: 3rem;
}

.align-right-on-large {
    @media (min-width: $breakpoint-sm) {
        text-align: right;
    }
}

.btn {
    color: $palette-white;
    background-color: $palette-dark-blue;
    letter-spacing: 1px;
    padding: 15px 10px;
    border: 0;
    &:hover,
    &:active,
    &:focus {
        color: $palette-white;
        background-color: $color-button-hover-background;
    }
}

@media (min-width: $breakpoint-lg) {
    .float-left-on-large {
        float: left;
    }
    .float-right-on-large {
        float: right;
        text-align: right;
    }
}