@import "_meta";

.crypto-graph {
  text-align: center;
}

:host ::ng-deep {
  * {
    font-family: $font-body;    
  }

  svg {
    overflow: visible;
    background-color: $color-article-background;
  }

  circle {
    fill: $palette-dark-blue;
  }

  .matched-data-line {
    stroke: $palette-dark-blue;
    stroke-width: 3;
  }

  foreignObject .tooltip {
    position: relative;
    top: 48px;
    left: -10px;
    text-align: left;
    display: inline-block;
    padding: 2px 8px;
    background-color: white;
    box-shadow: 0 0 1px 2px $color-tooltip-background;
  }

  foreignObject p {
    font-size: 0.8rem;
    margin: 5px 0;
  }

}
