@import "_meta";

.starter-card {
  color: $palette-white;
  background-color: $color-header-background;
  background-image: url("/../assets/headerimage.png");
  background-size: cover;
  padding: 20px 5%;
}

a {
  color: $palette-white;
  font-weight: bold;
}

p {
  line-height: 1rem;
}

.starter-header-1 {
  font-family: $font-headers;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 900;
}

.starter-header-2 {
  padding-top: 3.5%;
  padding-bottom: 1.5%;
  margin: 0;
  font-weight: 900;
}

.starter-header-3 {
  font-family: $font-body;
  padding-bottom: 4%;
  letter-spacing: 2px;
  margin: auto;
  width: 65%;
  p {
      line-height: 1.5rem;
  }
}

a:link.start-btn {
    padding: 10px 130px;
    text-decoration: none;
}

.start-btn {
    margin-bottom: 5%;
}
