@import "_meta";

.step-display {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  padding: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px;
  color: $palette-dark-blue;
  background-color: $palette-white;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border: 1px solid $palette-dark-blue;
}

.activated-step a {
  color: $palette-white;
  background-color: $palette-dark-blue;
}

.activated-step a:hover,
.activated-step a:active,
.activated-step a:focus,
a:hover,
a:active,
a:focus {
  color: $palette-dark-blue;
  background-color: $color-step-hover-background;
  border-color: $color-step-hover-border;
}

li {
  margin: 15px 0;
}

li:not(:last-child) {
  margin-right: 20px;
}


.step-explainer {
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}
