@import "_meta";

h2 {
  margin: 0 auto 30px;
  color: $color-step-headers;
}

a {
  color: $palette-dark-blue;
}

code {
  word-wrap: break-word;
}

.final-perp-display {
  text-align: center;
  margin: 40px auto;
  display: block;
  color: $palette-dark-blue;
  font-size: 1.2rem;
}

.calc-display-label {
  font-weight: 600;
}

.calc-display-value {
  display: block;
  margin: 10px 0;
  padding: 10px;
  color: $palette-dark-blue;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: $color-code-background;
  border: 1px solid $color-code-border;
  font-family: "Courier New", monospace;
}

.subtext {
  font-size: 0.85rem;
  color: $color-text-faded;
  letter-spacing: 1px;
}

p {
  font-family: $font-body;
  color: $color-paragraph-text;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 20px 0;
}

.advance-button {
  width: 200px;
  padding: 15px 40px;
  margin: 20px auto;
  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
}

input {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: $color-button-background;
  border: 1px solid $color-code-border;
}

article {
  margin: 60px 15%;
  padding: 40px;
  background-color: $color-article-background;
  @media (max-width: $breakpoint-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $breakpoint-sm) {
  .row {
    display: flex;
  }
  .col-half {
    width: 50%;
  }
}

.input-row {
  display: flex;
  align-items: center;
  margin: 40px 0 0;
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    margin-top: 0;
  }
  > * {
    margin: 5px 0;
    width: 100%;
  }
  > *:first-child {
    @media (min-width: $breakpoint-sm) {
      margin-right: 20px;
    }
  }
  > span {
    flex: 1;
    line-height: 40px;
  }
  > [type="text"] {
    flex: 2;
    padding: 10px 20px;
    color: $color-text-faded;
    height: 25px;
    @media (max-width: $breakpoint-sm) {
      box-sizing: border-box;
      height: 50px;
    }
  }
  > [type="submit"] {
    flex: 1;
    font-size: 0.85rem;
  }
}
