@import "_meta";

h2 {
  margin: 0;
}

section {
  margin: 60px 15%;
  padding: 40px;
  background-color: $color-gray-1;

  @media (max-width: $breakpoint-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.rid-display {
  color: $color-dark-blue;
  letter-spacing: 2px;
  text-align: center;
  word-wrap: break-word;
}

.step-explainer {
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.step-display {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;

  li {
    text-transform: uppercase;
    color: $color-dark-blue;
    padding: 10px;
    margin: 15px 0;
    font-size: 0.85rem;
    letter-spacing: 1px;
    border: 1px solid $color-dark-blue;
    background-color: $color-white;
    white-space: nowrap;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }

  .activated-step {
    color: $color-white;
    background-color: $color-dark-blue;
  }
}

.input-row {
  display: flex;
  align-items: center;
  margin: 40px 0;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    margin-top: 0;
  }

  > * {
    margin: 5px 0;
    width: 100%;
  }

  > span {
    flex: 1;
    line-height: 40px;
  }

  > [type="text"] {
    flex: 2;
    padding: 10px 20px;
    color: $color-gray-3;
    height: 25px;
    font-size: 0.85rem;

    @media (max-width: $breakpoint-sm) {
      box-sizing: border-box;
      height: 50px;
    }
  }

  > [type="submit"] {
    flex: 1;
    color: $color-white;
    background-color: $color-dark-blue;
    font-size: 0.85rem;
    letter-spacing: 1px;
    padding: 15px 10px;
  }
}
